.App {
  background-color: #212529;
  width: 880px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  .clock__container {
    width: 840px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
