.clock {
  width: 70px;
  height: 70px;
  background-color: #212529;
  display: flex;
  justify-content: center;
  align-items: center;

  .clock__inner {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    position: relative;
    background-color: #343a40;
    box-shadow: inset -3px 3px 5px 0px rgba(0, 0, 0, 0.75);

    .clock__center {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #f8f9fa;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 100;
      box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    }

    .clock__hour {
      width: 8px;
      height: 100%;
      margin: 0 auto;
      transform: rotate(300deg);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: transform 0.5s linear;
      &::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 50%;
        background-color: white;
      }
    }

    .clock__minute {
      width: 8px;
      height: 100%;
      margin: 0 auto;
      transform: rotate(300deg);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: transform 0.5s linear;
      &::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 50%;
        background-color: white;
      }
    }
  }
}
